.item-listing
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width:100%;
    height: auto;
    align-self: flex-start;
    
    &__items
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &.item-listing--3items
        {
            > .item-medium-1
            {    
                min-width: 250px !important;
            }
        }
        &.item-listing--4items
        {
            > .item-medium-1
            {    
                min-width: 25% !important;
            }
        }
    }

    &__tools
    {
        margin: 1.5rem;
        display: flex;
    }
}